<mat-grid-list rowHeight="50px" cols="3">
  <mat-grid-tile colspan="3" rowspan="6" gutterSize="5px">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoomValue">
      <div *ngIf="isLocation">
        <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="iconUrl">
        </agm-marker>
      </div>
      <div *ngIf="isSpot">
        <agm-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng">
          <agm-info-window>
            <strong style="color: black">{{m.label}}</strong>
          </agm-info-window>
        </agm-marker>
      </div>
    </agm-map>
  </mat-grid-tile>
  <mat-grid-tile gutterSize="5px">
    <div>
      <button (click)="showGps()" mat-mini-fab color="primary">
        <mat-icon>gps_fixed</mat-icon>
      </button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile gutterSize="5px">
  </mat-grid-tile>
  <mat-grid-tile gutterSize="5px">
    <div>
      <button mat-mini-fab color="warn">
        <mat-icon>assignment</mat-icon>
      </button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="2" gutterSize="5px">
    <h4 class="icon-part">
      <div>京都駅</div>
      <mat-icon color="accent">directions_subway</mat-icon>
    </h4>
    <h5 class="">
      <div>市營205</div>
      <div>(0:16)</div>
      <mat-progress-bar mode="buffer" value="0" bufferValue="0"></mat-progress-bar>
    </h5>
    <h4 class="icon-part">
      <div>京都水族館</div>
      <mat-icon color="accent">directions_bus</mat-icon>
    </h4>    
    <h5 class="">
        <div>市營205</div>
        <div>(0:45)</div>
        <mat-progress-bar mode="buffer" value="0" bufferValue="0"></mat-progress-bar>
      </h5>
    <h4 class="icon-part">
      <div>金閣寺</div>
      <mat-icon color="accent">directions_bus</mat-icon>
    </h4>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="2" gutterSize="5px">
    </mat-grid-tile>
</mat-grid-list>