<mat-grid-list rowHeight="50px" cols="3">
  <mat-grid-tile colspan="3" rowspan="8" gutterSize="5px">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoomValue">
      <div *ngIf="isLocation">
        <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="iconUrl">
        </agm-marker>
      </div>
      <agm-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng">
        <agm-info-window>
          <strong style="color: black">{{m.label}}</strong>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </mat-grid-tile>
  <mat-grid-tile gutterSize="5px">
    <button (click)="showGps()" mat-mini-fab color="primary">
      <mat-icon>gps_fixed</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile gutterSize="5px">
    </mat-grid-tile>
    <mat-grid-tile gutterSize="5px">
        <button (click)="openDialog()" mat-mini-fab color="warn">
          <mat-icon>map</mat-icon>
        </button>
      </mat-grid-tile>

</mat-grid-list>