<mat-grid-list rowHeight="50px" cols="3">
  <mat-grid-tile colspan="3" rowspan="8" gutterSize="5px">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoomValue" [gestureHandling]="gestureHandling">
      <div *ngIf="isLocation">
        <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="iconUrl">
        </agm-marker>
      </div>
      <agm-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng">
        <agm-info-window>
          <strong style="color: black">{{m.label}}</strong>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </mat-grid-tile>
  <mat-grid-tile gutterSize="5px">
    <button (click)="showGps()" mat-mini-fab color="primary">
      <mat-icon>gps_fixed</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile gutterSize="5px">
      <h5><mat-icon>flight_land</mat-icon></h5>
      <h5><div>07/27 16:30</div></h5>
      <h5><mat-icon>flight_takeoff</mat-icon></h5>
      <h5><div>07/31 22:25</div></h5>
  </mat-grid-tile>
  <mat-grid-tile gutterSize="5px">
    <button (click)="openDialog()" mat-mini-fab color="warn">
      <mat-icon>map</mat-icon>
    </button>
  </mat-grid-tile>

  <mat-grid-tile colspan="2" gutterSize="5px">
  <h3>關西國際空港</h3>
  </mat-grid-tile>
  <mat-grid-tile gutterSize="5px">
    <button (click)="openToDoDialog()" mat-mini-fab color="warn">
      <mat-icon>assignment</mat-icon>
    </button>
  </mat-grid-tile>

</mat-grid-list>