<h2 mat-dialog-title>
  待辦事項
</h2>

<mat-dialog-content class="post-form">
    <mat-list role="list">
        <mat-list-item role="listitem">附近吃飯，之後可沿腳踏車路線騎車或車站附近逛街</mat-list-item>
        <mat-list-item role="listitem"></mat-list-item>
        <mat-list-item role="listitem">租借費用約¥1000~1500，情況允許建議電動，營業時間通常到5點</mat-list-item>
        <mat-list-item role="listitem"></mat-list-item>
        <mat-list-item role="listitem">貓咪之森門票大人/小孩:¥780/¥580，半小時</mat-list-item>
      </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="warn">取消</button>
</mat-dialog-actions>