<h1 mat-dialog-title>
  </h1>
  <mat-dialog-content class="post-form">
    <mat-grid-list cols="5" rowHeight="50px">
      <!-- 1 -->
      <mat-grid-tile colspan="5" gutterSize="5px">
        <h4 class="icon-part">
          <div>東福寺</div>
          <mat-icon color="accent">directions_subway</mat-icon>
        </h4>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" gutterSize="5px">
        <h5 class="">
          <div>奈良(JR)</div>
          <div>(0:03)</div>
          <div>¥140</div>
        </h5>
      </mat-grid-tile>
      <mat-grid-tile gutterSize="5px">
        <mat-progress-bar mode="buffer" value="0" bufferValue="0"></mat-progress-bar>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" gutterSize="5px">
      </mat-grid-tile>
      <!-- 2 -->
      <mat-grid-tile colspan="5" gutterSize="5px">
        <h4 class="icon-part">
          <div>京都駅</div>
          <mat-icon color="accent">directions_subway</mat-icon>
        </h4>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" gutterSize="5px">
        <h5 class="">
          <div>市營205乙</div>
          <div>(0:16)</div>
          <div>一日券</div>
        </h5>
      </mat-grid-tile>
      <mat-grid-tile gutterSize="5px">
        <mat-progress-bar mode="buffer" value="0" bufferValue="0"></mat-progress-bar>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" gutterSize="5px">
      </mat-grid-tile>
      <mat-grid-tile colspan="5" gutterSize="5px">
        <h4 class="icon-part">
          <div>京都水族館</div>
          <mat-icon color="accent">directions_bus</mat-icon>
        </h4>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" gutterSize="5px">
          <h5 class="">
            <div>市營205乙</div>
            <div>(0:45)</div>
            <div>一日券</div>
          </h5>
        </mat-grid-tile>
        <mat-grid-tile gutterSize="5px">
          <mat-progress-bar mode="buffer" value="0" bufferValue="0"></mat-progress-bar>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" gutterSize="5px">
        </mat-grid-tile>
        <mat-grid-tile colspan="5" gutterSize="5px">
          <h4 class="icon-part">
            <div>金閣寺</div>
            <mat-icon color="accent">directions_bus</mat-icon>
          </h4>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" gutterSize="5px">
          <h5 class="">
            <div>市營205乙</div>
            <div>(1:00)</div>
            <div>一日券</div>
          </h5>
        </mat-grid-tile>
        <mat-grid-tile gutterSize="5px">
          <mat-progress-bar mode="buffer" value="0" bufferValue="0"></mat-progress-bar>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" gutterSize="5px">
        </mat-grid-tile>
        <mat-grid-tile colspan="5" gutterSize="5px">
          <h4 class="icon-part">
            <div>京都駅</div>
            <mat-icon color="accent">directions_bus</mat-icon>
          </h4>
        </mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close color="warn">關閉</button>
  </mat-dialog-actions>