<div style="text-align:center">
    <mat-toolbar>
            <button mat-icon-button (click)="sideNav.toggle()">
                    <mat-icon>{{ sideNav.opened ? 'close' : 'menu' }}</mat-icon>
            </button>
  </mat-toolbar>
  <mat-sidenav-container>
        <mat-sidenav #sideNav>
                <mat-nav-list>
                        <a routerLink="/dashboard" mat-list-item>首頁</a>
                        <a routerLink="/day1" mat-list-item>京都(Day1)</a>
                        <a routerLink="/day2" mat-list-item>奈良(Day2)</a>
                        <a routerLink="/day3" mat-list-item>京都(Day3)</a>
                        <a routerLink="/day4" mat-list-item>京都(Day4)</a>
                        <a routerLink="/day5" mat-list-item>京都(Day4)</a>
                </mat-nav-list>
              </mat-sidenav>
              <mat-sidenav-content>
                  <router-outlet></router-outlet>
              </mat-sidenav-content>
      </mat-sidenav-container>
</div>
