<div style="text-align:center">
        <mat-toolbar>
                <button mat-icon-button (click)="sideNav.toggle()">
                        <mat-icon>{{ sideNav.opened ? 'close' : 'menu' }}</mat-icon>
                </button>
        </mat-toolbar>
        <mat-sidenav-container>
                <mat-sidenav #sideNav>
                        <mat-nav-list>
                                <button class="side" mat-button color="primary" routerLink="/dashboard" mat-list-item><mat-icon>home</mat-icon>首頁</button>
                                <br>
                                <button class="side" mat-button color="primary" routerLink="/day1" mat-list-item><mat-icon>hotel</mat-icon>京都(Day1)</button>
                                <br>
                                <button class="side" mat-button color="primary" routerLink="/day2" mat-list-item><mat-icon>filter_hdr</mat-icon>嵐山(Day2)</button>
                                <br>
                                <button class="side" mat-button color="primary" routerLink="/day3" mat-list-item><mat-icon>toys</mat-icon>奈良(Day3)</button>
                                <br>
                                <button class="side" mat-button color="primary" routerLink="/day4" mat-list-item><mat-icon>local_mall</mat-icon>京都(Day4)</button>
                                <br>
                                <button class="side" mat-button color="primary" routerLink="/day5" mat-list-item><mat-icon>camera_alt</mat-icon>京都(Day5)</button>
                                <br>
                                <button class="side" mat-button color="primary" routerLink="/air-port-line" mat-list-item>機場
                                        <mat-icon>swap_horiz</mat-icon>民宿</button>
                                <br>
                                <button class="side" mat-button color="primary" routerLink="/direction" mat-list-item>
                                        <mat-icon>near_me</mat-icon>導航</button>
                                <br>

                        </mat-nav-list>
                </mat-sidenav>
                <mat-sidenav-content>
                        <div style="width:100%;height: 800px; background-color:black;">
                                <router-outlet></router-outlet>
                        </div>
                </mat-sidenav-content>
        </mat-sidenav-container>
</div>