<mat-grid-list rowHeight="50px" cols="3">
  <mat-grid-tile colspan="3" rowspan="8" gutterSize="5px">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoomValue" [gestureHandling]="gestureHandling">
      <div *ngIf="isLocation">
        <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="iconUrl">
        </agm-marker>
      </div>
      <div *ngIf="isSpot">
        <agm-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng">
          <agm-info-window>
            <strong style="color: black">{{m.label}}</strong>
          </agm-info-window>
        </agm-marker>
      </div>
    </agm-map>
  </mat-grid-tile>
  <mat-grid-tile gutterSize="5px">
    <div>
      <button (click)="showGps()" mat-mini-fab color="primary">
        <mat-icon>gps_fixed</mat-icon>
      </button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile gutterSize="5px">
  </mat-grid-tile>
  <mat-grid-tile gutterSize="5px">
    <div>
      <button (click)="openDialog()" mat-mini-fab color="warn">
        <mat-icon>map</mat-icon>
      </button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2" (click)="changeLatLng(34.684458,135.835433)" [ngStyle]="{'background-image':'url(./assets/nara.jpg)','background-repeat': 'no-repeat','background-size': '100% 100%'}"
    colspan="2">
    <h2>奈良</h2>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <button (click)="openToDoDialog()" mat-mini-fab color="warn">
      <mat-icon>assignment</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2" (click)="changeLatLng(34.891111,135.806665)" [ngStyle]="{'background-image':'url(./assets/uji.jpg)','background-repeat': 'no-repeat','background-size': '100% 100%'}"
    colspan="2">
    <h2>宇治</h2>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <button (click)="openToDoDialog1()" mat-mini-fab color="warn">
      <mat-icon>assignment</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2" (click)="changeLatLng(34.967123,135.772629)" [ngStyle]="{'background-image':'url(./assets/fushimi.jpg)','background-repeat': 'no-repeat','background-size': '100% 100%'}"
    colspan="2">
    <h2>稻荷神社</h2>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <button (click)="openToDoDialog2()" mat-mini-fab color="warn">
      <mat-icon>assignment</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>