<h2 mat-dialog-title>
  待辦事項
</h2>

<mat-dialog-content class="post-form">
    <mat-list role="list">
        <mat-list-item role="listitem">將行李寄放</mat-list-item>
        <mat-list-item role="listitem">先至車站購買巴士一日券</mat-list-item>
        <mat-list-item role="listitem">早上可先在水族館觀光吃飯，門票大人¥2050 /小孩¥600</mat-list-item>
        <mat-list-item role="listitem">下午前往金閣寺</mat-list-item>
      </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="warn">取消</button>
</mat-dialog-actions>