<h1 mat-dialog-title>
</h1>
<mat-dialog-content class="post-form">
  <mat-grid-list cols="5" rowHeight="50px">
    <!-- 1 -->
    <mat-grid-tile colspan="5" gutterSize="5px">
      <h4 class="icon-part">
        <div>東福寺</div>
        <mat-icon color="accent">directions_subway</mat-icon>
      </h4>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" gutterSize="5px">
      <h5 class="">
        <div>奈良(JR)</div>
        <div>(0:03)</div>
        <div>¥140</div>
      </h5>
    </mat-grid-tile>
    <mat-grid-tile gutterSize="5px">
      <mat-progress-bar mode="buffer" value="0" bufferValue="0"></mat-progress-bar>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" gutterSize="5px">
    </mat-grid-tile>
    <!-- 2 -->
    <mat-grid-tile colspan="5" gutterSize="5px">
      <h4 class="icon-part">
        <div>京都駅</div>
        <mat-icon color="accent">directions_subway</mat-icon>
      </h4>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" gutterSize="5px">
      <h5 class="">
        <div>近鐵特急</div>
        <div>(1:15)</div>
        <div>¥1000</div>
      </h5>
    </mat-grid-tile>
    <mat-grid-tile gutterSize="5px">
      <mat-progress-bar mode="buffer" value="0" bufferValue="0"></mat-progress-bar>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" gutterSize="5px">
    </mat-grid-tile>
    <!-- 3 -->
    <mat-grid-tile colspan="5" gutterSize="5px">
      <h4 class="icon-part">
        <div>近鐵奈良</div>
        <mat-icon color="accent">directions_subway</mat-icon>
      </h4>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" gutterSize="5px">
      <h5 class="">
        <div>近鐵京都</div>
        <div>(0:30)</div>
        <div>¥650</div>
      </h5>
    </mat-grid-tile>
    <mat-grid-tile gutterSize="5px">
      <mat-progress-bar mode="buffer" value="0" bufferValue="0"></mat-progress-bar>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" gutterSize="5px">
    </mat-grid-tile>
    <!-- 4 -->
    <mat-grid-tile colspan="5" gutterSize="5px">
      <h4 class="icon-part">
        <div>近鐵大久保</div>
        <mat-icon color="accent">directions_subway</mat-icon>
      </h4>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" gutterSize="5px">
      <h5 class="">
        <div>大久保淀線21</div>
        <div>(0:12)</div>
        <div>¥?</div>
      </h5>
    </mat-grid-tile>
    <mat-grid-tile gutterSize="5px">
      <mat-progress-bar mode="buffer" value="0" bufferValue="0"></mat-progress-bar>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" gutterSize="5px">
    </mat-grid-tile>
    <!-- 5 -->
    <mat-grid-tile colspan="5" gutterSize="5px">
      <h4 class="icon-part">
        <div>宇治橋西詰</div>
        <mat-icon color="accent">directions_bus</mat-icon>
      </h4>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" gutterSize="5px">
      <h4 class="icon-part">
        <div>宇治(京都)</div>
        <mat-icon color="accent">directions_subway</mat-icon>
      </h4>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" gutterSize="5px">
      <h5 class="">
        <div>奈良線(JR)</div>
        <div>(0:34)</div>
        <div>¥240</div>
      </h5>
    </mat-grid-tile>
    <mat-grid-tile gutterSize="5px">
      <mat-progress-bar mode="buffer" value="0" bufferValue="0"></mat-progress-bar>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" gutterSize="5px">
    </mat-grid-tile>
    <mat-grid-tile colspan="5" gutterSize="5px">
      <h4 class="icon-part">
        <div>稻荷車站</div>
        <mat-icon color="accent">directions_subway</mat-icon>
      </h4>
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="warn">關閉</button>
</mat-dialog-actions>